/* BASIC */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white
}

body {
    background-color:transparent;
}

/* UTILITY */

.name {
    color: #f1f1f1
}

a{
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
    margin: 10px;
}

body {
    font-family: Poppins;
  }

/* NAVBAR */

header {
    background: #2a2b2f;
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2a2b2f ;
    font-family: Kabel;
}

.navbar {
    padding: 10px 50px;
    max-width: 100%;
    max-height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Kabel;
}

.logo-display {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px
}

.logo-display:hover {
    fill: white;
    color: white;
}

.logo-image {
    width: 20%;
    height: auto;
}

.title {
    font-weight: 600;
    font-size: 1.7vw;
    font-family: Kabel;
}

.navbar-links-container {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar-link {
    font-size: 1vw;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.navbar-element:hover > .navbar-link  {
    color: #606060
}

/* FOOTER */

.footer {
    background-color: #2a2b2f;
    border-top: 1px solid #2e2c2c ;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0px;
    text-align: center;
}

@media screen and (max-width: 850px) {

    .title {
        font-size: 15px;
    }
    .logo-image {
        width: 27px;
    }

    .navbar-link {
        font-size: 9px;
    }

}