main {
    width: 100%;
    height: 87.5vh;
    margin: 0
    
}

.bg-container {
    /* position: absolute; */
    width: 100%;
    height: 59.5vh;
    /* background: url('../assets/fondo.png') no-repeat center center fixed; */
   
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    z-index: -2;
    opacity: 1;
}

h1 {
    margin-top: 100%;
    color: #000000;
    font-family: Kabel;

}

.header {
    margin-top: 20px;
}
    
.content p {
    color: #000000;
    
}

.board-about-us p {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
h3{
    color: black;
}

.cards-container {
    display: flex;
    justify-content: center; /* para centrar horizontalmente las tarjetas */
  }

.card {
    margin: 10px; /* para agregar un margen entre las tarjetas */
}

.nosotras {
    width: 100%; /* para ajustar la imagen al ancho de la tarjeta */
    height: auto; /* para mantener la relación de aspecto de la imagen */

}  

  
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    text-align: justify;
    gap: 30px;
    
   
}

.content > p {
    width: 50%;
   
}

@media screen and (max-width: 850px) {

    .bg-container {
        height: 100.5vh;
    }

    .content {
        font-size: 13px;
        
    }
}



